table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color:blue;
}

th {
    background-color: #6027bb;
    color: rgb(115, 34, 207);
}